<SUDOKU>

    <Algorithms>
        <Algorithm default="True" name="Peter Norvig" />
        <Algorithm default="False" name="Backtracking" />
        <Algorithm default="False" name="Brute Force" />
    </Algorithms>
    
    <Difficult>
        <Level default="False" max="35" min="30" name="Easy" />
        <Level default="False" max="50" min="40" name="Medium" />
        <Level default="True" max="70" min="60" name="Hard" />
    </Difficult>
    
    <Outputs>
        <Output default="True" name="TXT" path="../game_results" />        
    </Outputs>
    
    <Inputs>
        <Input default="False" name="Console" path="" />
        <Input default="True" name="TXT" path="../custom_games" />
        <Input default="False" name="CSV" path="../custom_games" />
    </Inputs>
    
</SUDOKU>